
  
  .topnav {
    z-index: 1;
    background-color: black;
    overflow: hidden;
    display: inline-block;
    opacity: .85;
    transform: translate(-.7%, 0%);
    width: 500%;
    margin: auto;
    height: 50%
  }
  
  .topnav a:hover{
    background-color: brown;
    color: white;
  }
  
  .topnav a{
    background-color:  black;
    text-decoration: none;
    display: block;
    width: 220px;
    padding: 6.5px;
    text-align: center;
    float: left;
    color: white;
    transform: translate(5%, 0%);
    margin: 0px;
    font-size: 18px;
    font: Courier;
  }
  
  .topnav a.active{
    color: white;
    background: brown;
  }
  
  .home-menu{
    text-align: center;
    border: none;
    background: #8D6645;
    width: 700px;
    /* height: 966px; */
    /* height: 1000px; */
    height: 820px;
    /* height: 10000px; */
    opacity: .9;
    transform: translate(-10%, -.6%);
    position: absolute;
  }
  
  .anotherBox{
    text-align: center;
    border: none;
    background: #785027;
    opacity: 1;
    width: 400px;
    padding: 20px;
    /* transform: translate(87%, 275%); */
    /* transform: translate(87%, 250%); */
    /* transform: translate(87%, 200%); */
    transform: translate(87%, 240%);
    position: absolute;
    font-size: 39px;
    padding-left: 30px;
    padding-bottom: 5px;
    padding-top: 5px;
  }

  .anotherBox2{
    text-align: center;
    border: none;
    /* background:#785027; */
    background: none;
    opacity: 1;
    width: 300px;
    padding: 0px;
    /* transform: translate(87%, 380%); */
    /* transform: translate(87%, 600%); */
    /* transform: translate(460px, 500px); */
    /* transform: translate(460px, 470px); */
    transform: translate(460px, 397px);
    position: absolute;
    font-size: 20px;
    padding-left: 10px;
  }
  .center {
    text-align: center;
    border: 3px solid green;
  }
  
  .home-menu a{
    float: right;
    color: black;
    background-color: #ccc;
    padding: 14px;
    text-align: center;
  }
  
  .home-menu a.active{
    color:white;
    background-color: #ccc;
  }
  
  .chart {
    padding: 3px;
    color: white;
    background-color: blue;
  }
  
  svg{
    background-color: white;
    margin: auto;
    display: block;
    fill: steelblue;
    shape-rendering: crispEdges;
    padding: 2px;
    position: absolute;
    top: 200px;
    right: 200px;
  }
  
  .background_svg_color{
    background-color: steelblue;
  }
  
  .bar a {
    fill: #8CD3DD;
  }
  
  .bar a.hover {
    fill: #F56C4E;
    /* text: white; */
  }
  
  .bar a.active{
    fill: #F56C4E;
    /* text: white; */
  }
  
  
  
  .slidecontainer{
    width: 100%;
  }
  
  .introBox {
    background-color: black;
    overflow: hidden;
  }
  
  .path{
    stroke-width: 4;
    fill:none;
  }

  .line{
    fill: none;
    stroke: #ffab00;
    stroke-width: 3;
  }

  .mylabels{
    position: absolute;
  }

  .mydots{
    position: absolute;
  }

  .sidenav {
    width: 300px; /* Set the width of the sidebar */
    position: absolute;
    transform: translate(-2.7%, 13.5%);
    height: 820px;
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    padding-bottom: 10px;
  }
  .axis,
.frame {
  shape-rendering: crispEdges;
}


  .sidenav a {
    padding: 10px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
  }

  .sidenav a:hover {
    color: #f1f1f1;
  }



  .cell text {
    font-weight: bold;
    text-transform: capitalize;
    fill: black;
    position: absolute;
  }



.axis line {
  stroke: #ddd;
}

.axis path {
  display: none;
}

.titleBox{
  text-align: center;
  border: none;
  background:white;
  opacity: 1;
  width: 400px;
  padding: 20px;
  transform: translate(105%, 70%);
  position: absolute;
  font-size: 27px;
  padding-left: 30px;
}

#states {
  fill: #aaa;
}

#states .active {
  display:none;
}

#state-borders {
  fill: none;
  stroke: #fff;
  stroke-width: 1.5px;
  stroke-linejoin: round;
  stroke-linecap: round;
  pointer-events: none;
}

.county-boundary {
  fill: #aaa;
  stroke: #fff;
  stroke-width: .5px;
}

.county-boundary:hover, .state:hover {
  fill: orange;
}

#usMap{
  width: 800px;
  height: 500px;
}

#map{
  width: 800px;
  height: 500px;
}

.leaflet-container {
  width: 700px;
  background-color:rgba(255,0,0,0.0);
  height: 400px;
}

.dropbutton {
  /* background-color: white; */
  /* color: gray; */
  font-weight: bold; 
  color: black;
  /* border: none; */
  background-color: white;
  /* padding: 20px; */
  font-size: 18px;
  text-align: center;
  border: 3px solid gray;
  /* border-radius: 25px; */
  border-radius: 15px;
  width: 180px;
  height: 60px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}


.dropdown {
  /* position: relative; */
  display: inline-block;
  position: absolute;

}

.dropdown-content {
  min-width: 160px;
  display: none;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  position: absolute;
  z-index: 1;
  background-color: #f1f1f1;

  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
  text-align: center;
  text-decoration: none;
  padding: 12px 16px;
  display: block;
  color:gray;
}



.dropdown-content a:hover {
  color:black;
  background-color: #ddd;
  font-weight: bold;
}


.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: white;}


.titleBar {

  background:black;
  padding: 20px;
  transform: translate(105%, 70%);
  opacity: 1;
  width: 400px;
  position: absolute;

}

.square{
  width: 10px;
  transform: translate(-20px,0);
  position: absolute;
  height: 10px;
}


.info {
  padding: 6px 8px;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  font: 14px/16px Arial, Helvetica, sans-serif;
  border-radius: 5px;
  background: white;
  /* transform: translate(0,-10px);  */
  /* transform: translate(-500px,0); */
}
.info h4 {
  color: #777;
  margin: 0 0 5px;
}


/* MUST CHANGE
svgPie {
	width: 100%;
	height: 100%;
} */

path.slice{
	stroke-width:2px;
}

polyline{
  stroke: black;
  opacity: .8;
  fill: none;
	stroke-width: 2px;
}





/* svg {
  font: 12px sans-serif;
} */

.background path {
  fill: none;
  stroke-width: 20px;
  pointer-events: stroke;
  stroke: none;
}

.foreground path {
  fill: none;
  stroke: steelblue;
  /* stroke: red; */
  stroke-width: 1.5px;
  opacity: .8;
}

.axis .title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 11px;
  color: black;

}

.axis line,
.axis path {
  color: black;
  stroke: #000;
  fill: none;
  shape-rendering: crispEdges;
}

.axis.string {
  font-size: 6px;
}

.label {
  -webkit-transition: fill 125ms linear;
}

.active .label:not(.inactive) {
  
  font-size: 11px;
  font-weight: bold;
}

.label.inactive {
  /* fill: #ccc; */
  fill: black;
}

.foreground path.inactive {
  stroke-width: 1px;
  stroke: #ccc;
  /* stroke-opacity: .5; */
  stroke-opacity: 1;
}

.dot {
  background-color: red;
  border-radius: 50%;
  display: inline-block;
  height: 18px;
  width: 18px;
  position: absolute;
}